<div class="container">
    <div class="header">
      
    </div>
    <div class="content">
        <br>
        <br>

      <h1 class="title">Sales Prediction Application</h1>
      <p class="description">Welcome to our sales prediction application. Gain valuable insights into your business and make data-driven decisions.</p>
      <div class="features">
        <div class="feature">
          <img src="assets/data.jpeg" alt="Feature 1" class="feature-image">
          <h3 class="feature-title">Data Analytics</h3>
          <p class="feature-description">Analyze sales data and generate accurate predictions to optimize your business strategies.</p>
        </div>
        <div class="feature">
          <img src="assets/analysis.jpeg" alt="Feature 2" class="feature-image">
          <h3 class="feature-title">Visualizations</h3>
          <p class="feature-description">Explore interactive charts and graphs to visualize sales trends and patterns.</p>
        </div>
        <div class="feature">
          <img src="assets/sale_predict.jpeg" alt="Feature 3" class="feature-image">
          <h3 class="feature-title">Customization</h3>
          <p class="feature-description">Tailor the prediction models and settings to suit your specific business needs.</p>
        </div>
      </div>
      <button class="cta-button" routerLink="/predict">Get Started</button>
    </div>
    <br>
    
    <div class="image-container">
      <div class="animation">
        <img src="assets/sales.jpeg" alt="Sales Prediction" class="image">
      </div>
    </div>
     
  </div>
   
  
  